
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-primario:#333356;
    --color-secundario:  #5e4574;
    --color-terciario:#9b5fa1;
    --color-cuarto:#f083d6;
    --color-quinto:#ffbdf4;
    --color-sexto: #9c70c7;
    --color-septimo:#be89f3;
}
nav a{
    border-radius: 55px;
    background: #9c70c7;
    box-shadow:  27px 27px 48px #7a579b,
             -27px -27px 48px #be89f3;
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
nav a:hover{
    background-color: #7a579b;
}
p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    padding: 2%;
    text-align: center;
   
}

h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
}
h2 , h3 , h4 , h5 , h6{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
}


.encabezado-inicio{
    height: 10vh;
    width: 100%;
    color: white;
    background-color: #9c70c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
/*--------------------------------------*/

body{
    background-color:#443e5b;
}

.banner {
    background-image: url(./imagenes/bn5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
.header {
    
   
    display: flex;
    align-items: center

}
  
.header-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
    
.header-txt h1{
    padding: 2rem;
    color: #fffdfc;
    text-transform: uppercase;
    margin-bottom: 10px; 
    background-color: #443e5b67;
}

.header-txt p{
    color: #fffdfc;
    text-align: center;
    font-size: 25px;
    padding:2.5rem;
    background-color: #443e5b67;

}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float:left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;

}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.p-principal{
    padding: 5%;
    color: #fffdfc;
    text-align: center;
    
}
.p-principal2{
    display: flex;
    padding: 5%;
    color: #fffdfc;

}

.principal{
    display: flex;
    margin: 5%;
    align-items: center;
    gap: 50px;
}


.ceremonias{
    padding: 4%;
    color: #fffdfc;
    text-align:center;
}



.contenido{
    width: 100%;
    text-align:start;
}

ul,li{
    color:#fffdfc;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    list-style: disc;
    list-style-position: inside;
}


h2{
    text-align: center;
    color: #fffdfc;
    background-color:#9c70c7;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}   
#logo{
    height: 4vw;
    width: 8vh;
    border-radius: 50%;
}
footer{
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

@media (max-width: 1250px) {
   .principal{
        display: block;
   }
   .imagen{
        display: flex;
        justify-content: center;
        padding-top: 20px;
   }
   .header-txt h1{
    font-size: 50px;
    padding-top: 10%;
    text-align: center;

   }

  
  }
  @media (max-width: 425px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin-top: 1rem;
    }
    .encabezado-inicio{
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    #logo{
        display: none;
    }
   
   }