

body{
    background: url(./imagenes/fondo-novedades.jpg) no-repeat center center fixed;
    background-size: cover;   
}

.main-section{
    margin: 0 auto;
    margin-top: 10%;
    padding: 70px;
}

.modal-content{
    background-color: blueviolet;
    opacity: 85%;
    padding:0 20px;
    box-shadow: 0px 0px 0px rgb(213, 131, 240);
    width: 180%;

}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100px;
    height: 100px;
}

.form-group{
    height: 42px;
    font-size: 18px;
    border: 0;
    
}

.texto{
    text-align: center;
    color: aliceblue;
    margin: auto 0 10% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
   /* padding-left: 54px;*/
    border-radius: 5px;
}

