*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-primario:#333356;
    --color-secundario:  #5e4574;
    --color-terciario:#9b5fa1;
    --color-cuarto:#f083d6;
    --color-quinto:#ffbdf4;
    --color-sexto: #9c70c7;
    --color-septimo:#be89f3;
}
#logo{
    height: 4vw;
    width: 8vh;
    border-radius: 50%;
}
nav a{
    border-radius: 55px;
    background: #9c70c7;
    box-shadow:  27px 27px 48px #7a579b,
             -27px -27px 48px #be89f3;
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
nav a:hover{
    background-color: #7a579b;
}
p{
    font-family: 'Roboto', sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'Montserrat', sans-serif;
}


.encabezado-inicio{
    height: 10vh;
    width: 100%;
    color: white;
    background-color: #9c70c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
/*--------------------------------------*/

body{
  
}

main{
    background: url(./imagenes/fondo-novedades.jpg) no-repeat center center fixed;
    background-size: cover;   
    height: 100vh;
}




.form-group{
    height: 42px;
    font-size: 18px;
    border: 0;
    
}

.texto{
    text-align: center;
    color: aliceblue;
    margin: auto 0 10% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    
}


form{
    background-color: blueviolet;
    opacity: 85%;
    padding:0 20px;
    box-shadow: 0px 0px 0px rgb(213, 131, 240);
    width: 30vw !important;
}
footer{
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

@media (max-width: 1250px) {
    .main-section{
        margin-top: 5%;
        padding: 30%;
        
    }
    .modal-content{
        padding:0 10px;
    }

}
@media (max-width: 768px) {
    .user-img{
       display: none;
    }
    form{
      
        width: 50vw !important;
    }

}


@media (max-width: 425px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin-top: 1rem;
    }
    .encabezado-inicio{
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    form{
       
        width: 70vw !important;
    }
    footer{
        flex-direction: column;
    }
    #logo{
        display: none;
    }
   
   }
